* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101010;
}

#main-container {
    margin: 5% 10%;
    max-width: 50%;
    width: 50%;
    justify-self: center;
    border: #dddddd 2px solid;
    border-radius: 30px;
}

#header-name {
    justify-items: center;
}
#header-name h1{
    font-size: 60px;
    color: #dddddd;
}
hr {
    border: none;
    border-top: 3px double #fff;
    color: #fff;
    overflow: visible;
    text-align: center;
    height: 5px;
}
hr::after {
    background: #101010;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
#education-header h1{
    color: #fff;
}
#NTU-title h2{
    color: #fff;
}
#NTU-degree h3{
    color: #fff;
}