*{
    margin: 0;
    padding: 0;
}

/* body{
    background-color: transparent;
} */
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.slide{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 800vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.zero{
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url(/images/home.png);
}


.maintext{
    border: 10px solid gray;
    background-color: white;
    max-width: 960px;
    margin: auto;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 960px){
    .maintext{
        width: 80%;
        height: auto;
        text-align: center;
    }
}

.subtext{
    font-size: 24px;
    text-align: center;
    justify-content: right;
    display: flex;
    margin-top: 0%;
    padding-right: 10%;
}

/* .one{
    background-image: url(/images/wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}

.runner{
    position: relative;
    height: 286px;
    justify-content: center;
    background-color: transparent;
    width: calc(1920px / 8);
    background: url(/images/runner.png);
    animation: animateRunner 1s steps(8) infinite;
    bottom: -70vh;
    left: 50vh;
}

@keyframes animateRunner {
    0%
    {
        background-position: 1920px;
    }
    100%
    {
        background-position: 0px;
    }
}

.one h1{
    border: 5px solid gray;
    align-items: center;
    text-align: left;
    width: fit-content;
    background-color: white;
}
.one h2{
    border: 5px solid gray;
    width: fit-content;
    margin-top: 10vh;
    margin-left: 10vw;
    background-color: white;
}


.two{
    position: absolute;
    left: 200vw;
    background-attachment: fixed;
    -webkit-mask-image: -webkit-linear-gradient(top, #fff 0%, #131313 100%);
    mask-image: -webkit-linear-gradient(top, #fff 0%, #131313 100%);
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw auto;
}
.two h1{
    border: 5px solid gray;
    align-items: center;
    text-align: left;
    width: fit-content;
    background-color: white;
}
.two h2{
    border: 5px solid gray;
    width: 60%;
    margin-top: 10vh;
    background-color: white;
}
.two .dialogue{
    border: 5px solid gray;
    width: fit-content;
    height: fit-content;
    position: fixed;
    display: block;
    margin: auto;
    top: 65%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-background-clip: text;
    background-clip: text;
}



.three h1{
    border: 5px solid gray;
    align-items: center;
    text-align: left;
    width: fit-content;
    background-color: white;
}
.three h2{
    border: 5px solid gray;
    width: 60%;
    margin-top: 10vh;
    background-color: white;
}



.four h1{
    border: 5px solid gray;
    align-items: center;
    text-align: left;
    width: fit-content;
    background-color: white;
}

.four h2{
    border: 5px solid gray;
    width: fit-content;
    margin-top: 10vh;
    background-color: white;
}